$navbar-default-bg: #6b36af;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float:left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('Family-Guy-Giggity-Giggity-Sticker.jpg');
  background-size: cover;
  height: 550px;

}

.jumbotron h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlarge {
  font-size: 1.7em;
  background-color: #000000;

}

.article-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}

.article-actions{
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
  padding-bottom: 15px;
}

.description {
  margin-top:0;
}
.article-title {
  font-weight: bold;
  font-size: 1em;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;

.listing {
  list-style: none;
  padding-left: 0;
}

.badge {
  background-color: #6A3BAC;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.input_checkbox {
  width: auto !important;

}
}
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777777;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}
